<h1> Welcome to the super cool guy game</h1>

    <form action="/madlib" method="POST">

     <label for="name">Name:</label>
     <input type="text" id="name" name="name" />

     <label for="color">Choose a color:</label>
     <select name="color" id="color">
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
        <option value="beige">Beige</option>
        <option value="indigo">Indigo</option>
        <option value="fettywap">Fetty Wap</option>
     </select>

     <label for="noun">Choose a noun:</label>
     <select name="noun" id="noun">
        <option value="Barack Obama">Barack Obama</option>
        <option value="Corgi-Rottwieler mix">Corgi-Rottwieler mix</option>
        <option value="Raising Canes">Raising Canes</option>
        <option value="Python">Python</option>
        <option value="Drake">Drake</option>
        <option value="Apple Vison Pro">Apple Vison Pro</option>
        <option value="Stairway to Heaven by Led Zepplin">Stairway to Heaven by Led Zepplin</option>
        <option value="Kylie's Wedding Ring">Kylie's Wedding Ring</option>
        <option value="Leap Year">Leap Year</option>
        <option value="The Nae Nae">The Nae Nae"</option>
     </select>

     <label for="adjective">Adjective:</label>
     <select name="adjective" id="adjective">
        <option value="'HUGE'">'HUGE'</option>
        <option value="tiny">tiny</option>
        <option value="fun-sized">fun-sized</option>
        <option value="Whip-It-Out">whip-it-out</option>
        <option value="Gigantic">gigantic</option>
        <option value="Fantastic">Fantastic</option>
        <option value="DogWater">Dog Water</option>
        <option value="Dope">Dope</option>
        <option value="Sick">Sikc</option>
        <option value="GnarGnar">Gnar Gnar</option>
     </select>

     <input type="submit">
    </form>

